{% extends 'layouts/layout.html.twig' %}

{% block title %}{{ 'app.views.workshops'|trans }} - {# TODO name from entity #}{% endblock %}

{% block body %}
    <section id="workshops">
        {{ include('views/maintenance/partial/_content.html.twig') }}
    </section>
{% endblock %}
