@tailwind base;
@tailwind components;
@tailwind utilities;

.header-with-dragon {
  position: relative;
}

.header-on-top-of-dragon {
  position: relative;
  background-color: white;
  z-index: -2;
}

.header-with-dragon:after {
  content: '';
  position: absolute;
  top: -200%;
  left: -114%;
  right: -50%;
  height: 100px;
  width: auto;
  background: url('./dragon.svg') no-repeat center center;
  background-size: contain;
  z-index: -1;
}