<div class="grid grid-cols-1 gap-4 rounded m-4 p-4">
    <div class="flex flex-col">
        <p class="text-xs pb-4">{{ 'role_play.personality'|trans }} </p>
        <ul>
            {# TODO data from entity #}
            <li><b>Curieux</b> : Eärendil a une soif insatiable de connaissances, surtout quand il s'agit de l'univers et de ses nombreux mystères.</li>
            <li><b>Intelligent</b> : Sa compréhension des corps célestes est profonde, et il possède une mémoire exceptionnelle pour les constellations et les théories astronomiques.</li>
            <li><b>Rêveur</b> : Bien qu'il soit ancré dans ses études, Eärendil s'évade souvent dans ses pensées, imaginant les mondes lointains et les civilisations qui pourraient exister au-delà des étoiles.</li>
            <li><b>Gracieux</b> : Dans ses mouvements comme dans ses paroles, il fait preuve d'une élégance et d'une sérénité qui inspirent le respect et l'admiration.</li>
            <li><b>Solitaire</b> : Préférant la compagnie des étoiles à celle des autres, il peut passer de longues périodes de temps en isolement, absorbé par ses recherches et observations.</li>
            <li><b>Méticuleux</b> : Eärendil est extrêmement attentif aux détails, que ce soit dans l'alignement de son télescope ou dans la transcription de ses découvertes.</li>
            <li><b>Patient</b> : L'astronomie étant une science de l'observation et de la patience, il a appris à attendre le moment parfait pour observer les phénomènes célestes.</li>
            <li><b>Philosophe</b> : Il aime à méditer sur la place des elfes dans l'univers et sur les liens entre le cosmos et la magie elfique.</li>
            <li><b>Noble</b> : Il porte sa noblesse elfique non seulement dans ses traits mais dans ses principes et son intégrité morale.</li>
            <li><b>Inspiré</b> : L'immensité de l'univers et la beauté des cieux nocturnes sont ses principales sources d'inspiration, et cela se reflète dans sa personnalité poétique et visionnaire.</li>
        </ul>
    </div>
    <div class="flex flex-col">
        <p class="text-xs pb-4">{{ 'role_play.ideals'|trans }} </p>
        {# TODO data from entity #}
        <p>Protection du Savoir : Eärendil considère qu'il est de sa responsabilité de protéger le savoir contre ceux qui pourraient l'utiliser à des fins néfastes ou le détruire par ignorance.</p>
    </div>
    <div class="flex flex-col">
        <p class="text-xs pb-4">{{ 'role_play.links'|trans }} </p>
        {# TODO data from entity #}
        <p>Il serait un mentor précieux pour les jeunes elfes s'intéressant à l'astronomie ou à la magie liée aux étoiles. Sa sagesse et sa patience feraient de lui un excellent enseignant.</p>
    </div>
    <div class="flex flex-col">
        <p class="text-xs pb-4">{{ 'role_play.personality_defects'|trans }} </p>
        <ul>
            {# TODO data from entity #}
            <li><b>Mélancolie</b> : La contemplation incessante du cosmos peut parfois le plonger dans une mélancolie, réfléchissant à la petitesse de l'existence elfique dans le vaste univers.</li>

            <li><b>Distraction</b> : Sa fascination pour les étoiles et l'univers peut le rendre souvent distrait, ignorant parfois ce qui se passe autour de lui dans le monde terrestre.</li>
        </ul>
    </div
</div>