<div class="row g-3 text-center">
    <div class="col-12">
        <img class="img-fluid" src="{{ asset('images/upload/image0.gif') }}" alt="logo" />
    </div>
    <div class="col-12 ">
        <h1 class="text-primary fw-bold">{{ 'app.maintenance.maintenance'|trans  }}</h1>
        <p class="text-primary">&mdash; {{ 'app.name'|trans }}</p>
    </div>
</div>
