<footer id="footer" class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">
        {{ 'app.footer.coded'|trans }} <a href="https://github.com/IflashBlue" target="_blank" class="text-info">@Nathanaël SCHMITT</a>. {{ 'app.footer.reserved'|trans }}, {{ 'now' | date('Y') }}
    </p>
</footer>
<a href="#top" id="scroll-to-top-button" title="{{ 'app.scroll.top'|trans }}">
    <i class="bi bi-arrow-up"></i>
</a>
